.DS_Store
__pycache__/
*.pyc
.pytest_cache/

paper/.mplconfig/
paper/latex/*.aux
paper/latex/*.bbl
paper/latex/*.bcf
paper/latex/*.blg
paper/latex/*.fdb_latexmk
paper/latex/*.fls
paper/latex/*.log
paper/latex/*.out
paper/latex/*.run.xml
paper/latex/*.toc
paper/latex/*-blx.bib
paper/main.*

paper-project-plan.md
